{% extends 'AcmeCologBundle::layout.html.twig' %}
{% block body %}

    {% block content %}
        <h2 class="page-header">Új időpont</h2>

        {% include 'AcmeCologBundle:Default:Blocks/AddEventForm.html.twig' %}

    {% endblock %}

{% endblock %}