{% extends 'AcmeCologBundle::layout.html.twig' %}
{% block body %}

    {% block content %}
        <h2 class="page-header">Vendég regisztráció</h2>

        {% include 'AcmeCologBundle:Default:Blocks/GuestRegistrationForm.html.twig' %}

    {% endblock %}

{% endblock %}
