{% extends 'AcmeCologBundle::layout.html.twig' %}
{% block body %}

    {% block content %}

        <h2 class="page-header">Új kezelés</h2>
        {% include 'AcmeCologBundle:Default:Blocks/AddTreatmentsForm.html.twig' %}

    {% endblock %}

{% endblock %}
