{% extends 'AcmeCologBundle::layout.html.twig' %}
{% block body %}

    {% block header %}
        <h2>Vendég Törlése</h2>
    {% endblock %}

    {% block content %}
        <div class="container">
        <h3>Vendég törölve!</h3>
        <div class="btn-group">
            <a class="btn btn-default" href="{{ path('_guest') }}">Vissza</a>
            <a class="btn btn-success" href="{{ path('_addGuest') }}">Új kezelés</a>
        </div>
    {% endblock %}
    </div>

{% endblock %}
