{% extends 'AcmeCologBundle::layout.html.twig' %}
{% block body %}

    {% block content %}

        <h2 class="page-header">Kezelés szerkesztése</h2>
        {% include 'AcmeCologBundle:Default:Blocks/updateTreatmentsForm.html.twig' %}

    {% endblock %}

{% endblock %}